<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>修改</h1>
<form method="post" >
    <input type="text" name="interlinkage" value="{{info[0]}}">
    <input type="text" name="area" value="{{info[1]}}">
    <input type="text" name="position" value="{{info[2]}}">
    <input type="text" name="technology" value="{{info[3]}}">
    <input type="text" name="fringe_benefits" value="{{info[4]}}">
    <input type="text" name="enterprise_information" value="{{info[5]}}">
    <input type="text" name="salary" value="{{info[6]}}" style="width: unset">
    <input type="submit" name="提交">

</form>
</body>
</html>